/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.dusk.local
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
supervisord.log
supervisord.pid
/storage/oauth-*
sonarcube.json
/.scannerwork
clover-coverage.xml
cobertura-coverage.xml
phpunit.cov.txt
phpunit-junit.xml
phpunit.dusk.xml
phpunit.xml


